<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title %></title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body class='bg-neutral text-base box-md'>
    <div class="stack-lg">
    <header class="cluster-md">
                <div><a href="/" class="text-2xl text-primary">Morgan Ridel</a></div>
                <!-- Extract the animated border in a class? -->
                <div class="relative block after:absolute after:left-1/2 after:bottom-0 after:h-(--border-width-md) after:w-full
                            after:-translate-x-1/2 after:translate-y-(--border-width-md) after:scale-x-0 after:origin-center
                          after:bg-primary after:transition-transform hover:after:scale-x-100">
                          <a href="/" class="text-xl text-secondary">Blog</a>
                          </div>
                <div class="relative block after:absolute after:left-1/2 after:bottom-0 after:h-(--border-width-md) after:w-full
                            after:-translate-x-1/2 after:translate-y-(--border-width-md) after:scale-x-0 after:origin-center
                          after:bg-primary after:transition-transform hover:after:scale-x-100">
                          <a href="/about" class="text-xl text-secondary">About</a>
                          </div>
            </header>
    <div class='center'>
        <div class='stack-lg'>
            <main class="stack-lg">
                    <%= @inner_content %>
            </main>
        </div>
    </div>
    </div>
</body>

<script type="module">
import Stack from '/static/components/compositions/Stack.js'
</script>
</html>
